<div class='container'>
  <div class="form-group row">
    <div class="col-12 text-center">
      <%= render 'searches/form' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <h3 class="text-center">ユーザー一覧</h3>
    </div>
  </div>
  <%= render 'index',user: @users %>
</div>